{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="menu-spacing"></div>
    <section class="section grid">
      {% if grid_elements %}
        {% for element in grid_elements %}
          <a href="{% url element.a_href %}">
            <div class="{{ element.div_class }}">
                <i id="{{ element.i_id }}" class="{{ element.i_class }}"></i>
                <p id="{{ element.p_id }}">{{ element.p_content }}</p>
              </div>
          </a>
        {% endfor %}
      {% endif %}  
    </section>
{% endblock %} 