{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    
    <head>
        <meta charset="UTF-8" />
        <title>Finanças</title>
        <link rel="stylesheet" href="{% static '/styles/style.css' %}" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script src="{% static '/financial_planning/js/script.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    </head>

    <body>
        {% include 'partials/_header.html' %}
        {% block content %}{% endblock %}
        {% include 'partials/_footer.html' %}
    </body>
</html>